/* line 2, ../scss/input.scss */
.input-input input {
  display: block;
  width: 100%; }
/* line 7, ../scss/input.scss */
.input-input .text, .input-input .date, .input-input .datetime, .input-input .email, .input-input .month, .input-input .number, .input-input .password, .input-input .search, .input-input .tel, .input-input .time, .input-input .url, .input-input .week {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  padding: 10px;
  width: 100%; }
  /* line 20, ../scss/input.scss */
  .input-input .text:not(:invalid), .input-input .date:not(:invalid), .input-input .datetime:not(:invalid), .input-input .email:not(:invalid), .input-input .month:not(:invalid), .input-input .number:not(:invalid), .input-input .password:not(:invalid), .input-input .search:not(:invalid), .input-input .tel:not(:invalid), .input-input .time:not(:invalid), .input-input .url:not(:invalid), .input-input .week:not(:invalid) {
    background: #f4f4f0; }
